<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>VueJS Exercise 4</title>
  <meta name="description" content="">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class="myClass"></div>
  </div>

    <div>
    <button @click.once="startClassSwitch">Start Effect</button>
    <div id="effect2" :class="{ 'highlight': highlight2, 'shrink': !highlight2 && !'undefined'  }"></div>
</div>


  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="[ classColor1, classBorderBase ]">I got no class :(</div>


  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <input type="text" v-model="myDynamicClass">
    <div :class="myDynamicClass"></div>
  </div>


  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <input type="text" v-model="myDynamicClass2">
    <input type="text" v-model="myDynamicClass3">
    <div class="border" :class="{'border-6': myDynamicClass2, 'green': !myDynamicClass3}"></div>
  </div>


  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text" v-model="myStyle">
    <div class="border" :style="myStyle"></div>
  </div>


  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button v-on:click.once="startProgress">Start Progress</button>
    <div class="border" :style="{'background-color':'rgba(0,0,0,0.7)'}">
        <!--<div class="stripped" :style="{'width': barWidth}"></div>-->
        <div class="stripped" :style="{'width': barWidth + '%'}"></div>
    </div>
  </div>
</div>



<script src="app.js"></script>
</body>
</html>